:root {
    --black-color: rgb(0, 0, 0);
    --white-color: rgb(255, 255, 255);
    --grey-color: rgb(65, 65, 65);
    --electro-magnetism: rgb(84, 43, 255);

    --text-size-0: 0.625rem;
    --text-size-1: 1.25rem;
    --text-size-2: 1.5rem;
    --text-size-3: 3rem;
    --text-size-4: 9.75rem;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src:
        url('./fonts/pp-neue-montreal/PPNeueMontreal-Medium.woff2') format('woff2'),
        url('./fonts/pp-neue-montreal/PPNeueMontreal-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src:
        url('./fonts/pp-neue-montreal/PPNeueMontreal-Bold.woff2') format('woff2'),
        url('./fonts/pp-neue-montreal/PPNeueMontreal-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'PPNeueMontrealMono';
    src:
        url('./fonts/pp-neue-montreal-mono/PPNeueMontrealMono-Medium.woff2') format('woff2'),
        url('./fonts/pp-neue-montreal-mono/PPNeueMontrealMono-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'PPNeueMontrealMono';
    src:
        url('./fonts/pp-neue-montreal-mono/PPNeueMontrealMono-Bold.woff2') format('woff2'),
        url('./fonts/pp-neue-montreal-mono/PPNeueMontrealMono-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

body {
    display: flex;
    /* height: 100vh; */
    min-height: 100vh;
    /* height: 1344px; */
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white-color);
}

footer,
header,
#content {
    padding: var(--text-size-1);
}

/* HEADER */

header {
    height: 80px;
    /* hard */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .headerText {
    font-family: 'PPNeueMontrealMono';
    font-weight: 800;
    font-size: var(--text-size-1);
    color: var(--grey-color);
}

header .textAccent {
    color: var(--black-color);
}

header nav {
    display: flex;
}

nav .menuBtn {
    appearance: none;
    border: none;
    background: transparent;
    color: var(--black-color);
    font-family: 'PPNeueMontrealMono';
    font-weight: 600;
    font-size: var(--text-size-1);
    padding: .5rem 1rem;

    transition: color .4s cubic-bezier(.17, .67, .83, .67);
}

nav .menuBtn:hover {
    color: var(--electro-magnetism);
}

/* CONTENT */
#content {
    /* height: 100%; */
    flex-grow: 1;
    display: flex;
}

/* HOME PAGE */

#content .image-grid {
    /* height: 100%; */
    flex-grow: 1;
    min-height: 1344px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: var(--text-size-1);
}

.image-grid .card-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.image-grid .card-2 {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
}

.image-grid .card-3 {
    grid-column: 4 / 9;
    grid-row: 1 / 6;
}

.image-grid>div {
    display: grid;
    padding: 0.5rem;
}

.image-grid>div a {
    /* position: absolute; */
    justify-self: end;
    color: var(--black-color);
    font-family: 'PPNeueMontrealMono';
    font-weight: 600;
    font-size: var(--text-size-0);
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-transform: uppercase;
    letter-spacing: 5%;

    text-decoration: none;
}

.image-grid>div a:hover {
    text-decoration: line-through;
    text-decoration-thickness: 1rem;
}

/* ABOUT PAGE */
.about-wrapper {
    flex-grow: 1;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.about-wrapper .text-container,
.about-wrapper .disclaimer-container {
    flex-grow: 1;
    display: grid;
    gap: var(--text-size-1);
    grid-template-columns: repeat(8, 1fr);
}

.about-wrapper .text-container {
    align-items: end;
}

.text-container .about-text,
.text-container h2 {
    font-family: 'PPNeueMontreal';
    font-weight: 600;
    font-size: var(--text-size-3);
    line-height: 3.625rem;
}

.text-container .about-text {
    color: var(--grey-color);
    grid-column: 1 / 6;

    text-align: right;
}

.text-container h2 {
    color: var(--black-color);
    grid-column: 6 / 9;
}

.about-wrapper .disclaimer-container {
    align-items: center;
}

.disclaimer-container .disclaimer-text {

    font-family: 'PPNeueMontreal';
    font-weight: 600;
    font-size: var(--text-size-2);
    line-height: 2rem;
    text-align: right;
    color: var(--grey-color);

    grid-column: 6 / 9;
}

.disclaimer-text .food {
    color: var(--black-color);
    font-weight: 800;
}

.disclaimer-text a {
    color: var(--grey-color);
    font-weight: 600;

}

.disclaimer-text a:hover {
    text-decoration: line-through;
    text-decoration-thickness: 2rem;
    text-decoration-color: var(--black-color);
}

/* MENU PAGE */
.menu-page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.menu-page-wrapper .menu-headline {
    font-family: 'PPNeueMontreal';
    font-weight: 800;
    font-size: var(--text-size-4);
    text-align: center;
    width: 50%;
    line-height: 8.875rem;
    align-self: center;
    margin: 4rem 0;
}

.menu-page-wrapper .bludo-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(calc(1340px/4), 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    gap: var(--text-size-2);
}

.bludo-grid .bludo-grid-item {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.bludo-grid-item .bludo-picture {
    aspect-ratio: 1 / 1; 
    border: calc(var(--text-size-0) / 4) solid var(--grey-color);
    transform: rotate(0deg);
}

.bludo-grid-item .bludo-picture:hover {
    mix-blend-mode: hard-light;
    transform: rotate(90deg);
}

.bludo-grid-item .bludo-name {
    font-family: 'PPNeueMontrealMono';
    font-weight: 600;
    font-size: var(--text-size-0);
    text-transform: uppercase;
    letter-spacing: 5%;
}

.bludo-5 > .bludo-picture,
.bludo-6 > .bludo-picture,
.bludo-7 > .bludo-picture,
.bludo-8 > .bludo-picture {
    mix-blend-mode: difference;
}


.menu-page-wrapper .menu-bottom-text {
    font-family: 'PPNeueMontreal';
    font-weight: 600;
    font-size: var(--text-size-3);
    line-height: 3.625rem;
    color: var(--grey-color);
    grid-column: 1 / 3;

}

/* FOOTER */

footer {
    margin-top: 80px;
    /* hard */
    background-color: var(--grey-color);
}

footer .footerText {
    font-family: 'PPNeueMontrealMono';
    font-weight: 800;
    font-size: var(--text-size-1);
    color: var(--white-color);
}